[submodule ".emacs.d/manual_cloned_packs/gdscript-mode"]
	path = .emacs.d/manual_cloned_packs/gdscript-mode
	url = https://github.com/godotengine/emacs-gdscript-mode.git
[submodule ".emacs.d/manual_cloned_packs/move-text"]
	path = .emacs.d/manual_cloned_packs/move-text
	url = https://github.com/emacsfodder/move-text.git
[submodule ".emacs.d/manual_cloned_packs/simpc-mode"]
	path = .emacs.d/manual_cloned_packs/simpc-mode
	url = https://github.com/rexim/simpc-mode.git
[submodule ".emacs.d/manual_cloned_packs/gruber-darker"]
	path = .emacs.d/manual_cloned_packs/gruber-darker
	url = https://github.com/rexim/gruber-darker-theme.git
