[submodule ".emacs.d/manual_cloned_packs/gdscript-mode"]
	path = emacs/manual_cloned_packs/gdscript-mode
	url = https://github.com/godotengine/emacs-gdscript-mode.git
[submodule ".emacs.d/manual_cloned_packs/move-text"]
	path = emacs/manual_cloned_packs/move-text
	url = https://github.com/emacsfodder/move-text.git
[submodule ".emacs.d/manual_cloned_packs/simpc-mode"]
	path = emacs/manual_cloned_packs/simpc-mode
	url = https://github.com/rexim/simpc-mode.git
[submodule ".emacs.d/manual_cloned_packs/gruber-darker"]
	path = emacs/manual_cloned_packs/gruber-darker
	url = https://github.com/rexim/gruber-darker-theme.git
[submodule ".emacs.d/manual_cloned_packs/vterm"]
	path = emacs/manual_cloned_packs/vterm
	url = https://github.com/akermu/emacs-libvterm.git
[submodule ".emacs.d/manual_cloned_packs/everforest"]
	path = emacs/manual_cloned_packs/everforest
	url = https://github.com/Theory-of-Everything/everforest-emacs.git
[submodule ".emacs.d/manual_cloned_packs/vs-code-dark-plus"]
	path = emacs/manual_cloned_packs/vs-code-dark-plus
	url = https://github.com/ianyepan/vscode-dark-plus-emacs-theme.git
